.post-save.active
    i
        color: red

.shop-nav li :hover
    opacity: .9
    cursor: pointer
    
.contact-box.preloader-parent.offline .avatar-contact::after
    content: ""
    position: absolute
    width: 12px
    border-radius: 100%
    height: 12px
    bottom: 25px
    right: 3px
    background: #564F45
.contact-box.preloader-parent.online .avatar-contact::after
    content: ""
    position: absolute
    width: 12px
    border-radius: 100%
    height: 12px
    bottom: 25px
    right: 3px
    background: #238923

.edd-add-to-cart.button.without-content
    span
        display: none

.edd_purchase_submit_wrapper .wrap
    display: flex

.purchase-button
    &:before
        display: none

    &.after-cart
        margin-left: 5px !important