.post-save.active
    i
        color: red

.shop-nav li :hover
    opacity: .9
    cursor: pointer
    
.contact-box.preloader-parent.offline .avatar-contact::after
    border: white 3px solid
    content: ""
    position: absolute
    width: 15px
    border-radius: 100%
    height: 15px
    bottom: 25px
    right: -3px
    background: #CCCCCC
.contact-box.preloader-parent.online .avatar-contact::after
    border: white 3px solid
    content: ""
    position: absolute
    width: 15px
    border-radius: 100%
    height: 15px
    bottom: 25px
    right: -3px
    background: #99CC66

.edd-add-to-cart.button.without-content
    span
        display: none

.edd_purchase_submit_wrapper .wrap
    display: flex

.purchase-button
    &:before
        display: none

    &.after-cart
        margin-left: 5px !important

#universalModal .modal-footer
    display: flex
    justify-content: center
    align-items: center
.ui-widget-header
    background: transparent
    border: none
.ui-tabs .ui-tabs-nav li
    margin: 0